body {
	width: 900px;
	margin: 0 auto;
}



main {
	margin: 20px auto auto 20px;
}

.inpName_active {
	outline: none; 
	appearance: none;
	border-color:#767676;
	animation-duration: 3s;
	animation-name: change_color;
	animation-fill-mode: forwards;
	
	
  }
  
  @keyframes change_color {
	from {
	 border-color:#767676;
	}
  
	to {
		border-color: red;
	}
  }